/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #0d1821;

    --color-bg-primary: #f0f4ef;
    --color-bg-secondary: #344966;
}
