{% include '_partials/_header.html' %}

<nav>
    <ul class="sous_header">
        <li>
            <a href="index.html" class="back">Retour</a>
        </li>
        <li><a href="#utilisation">Utilisations</a></li>
        <li><a href="#etat">Classes d'états</a></li>
        <li><a href="#defaut">Par défaut</a></li>
        <li><a href="#not-hiding">Not-hiding</a></li>
        <li><a href="#scroll-limit">Scroll-limit</a></li>
        <li><a href="#autres">Autre utilisation</a></li>
    </ul>
</nav>

<section>
    <div class="wrapper">
        <h1>Header</h1>
        <p>
            La composante Header permet de gérer l'état d'un en-tête de page web en fonction du défilement de la page.
            Elle permet aussi l’animation du menu en mobile.
        </p>

        <section id="utilisation">
            <h2>Comment l'utiliser</h2>
            <p>
                Pour utiliser cette composante, il faut ajouter le data component Header dans la balise Header du HTML.
                Ensuite, il faut un élément HTML avec une classe "js-toggle" et “header__toggle”. Le "js-toggle" est
                utilisé pour activer et désactiver le menu de navigation mobile. Exemple:
            </p>
            <details>
                <summary>exemple de code complet</summary>

                <script type="text/plain" class="language-markup">

                    # HTML
                    <header class="header" data-component="Header">
                        <a href="index.html" class="header__brand">
                            <img src="assets/images/logo-timtools.svg" alt="TimTools" />
                        </a>
                        <nav class="nav-primary">
                            <ul>
                                <li>
                                    <a href="#" class="nav-primary__item">Menu 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-primary__item">Menu 2</a>
                                </li>
                                <li class="nav-right">
                                    <a href="#" class="nav-primary__item">Menu 3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-primary__item">Menu 4</a>
                                </li>
                            </ul>
                        </nav>
                        <button class="header__toggle js-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </header>
                </script>
            </details>

            <h3>Modifier l'animation d'ouverture/fermeture mobile</h3>
            <p>
                Dans le scss, trouver la classe nav-primary, cette classe est cachée de base. Pour l'animée changer le
                transform pour ce que vous voulez, dans cette exemple elle se cache en haut.
            </p>

            <script type="text/plain" class="language-scss">
                # SCSS
                .nav-primary {
                    background-color: var(--color-bg-secondary);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    padding-top: var(--header-height);
                    display: flex;
                    z-index: 1;
                    transition: all 0.4s $ease-out-expo;
                    transform: translateY(-100%);

                    @media screen and (min-width: 1120px) {
                        transform: none;
                        position: relative;
                        height: auto;
                        width: auto;
                        padding: 0;
                        display: flex;
                        z-index: 2;
                    }
                }
            </script>
        </section>

        <p>Ensuite, trouver la classe nav-is-active et changer là si vous voulez.</p>
        <script type="text/plain" class="language-scss">
            # SCSS
            .nav-primary {
                background-color: var(--color-bg-secondary);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                padding-top: var(--header-height);
                display: flex;
                z-index: 1;
                transition: all 0.4s $ease-out-expo;
                transform: translateY(-100%);

                @media screen and (min-width: 1120px) {
                    transform: none;
                    position: relative;
                    height: auto;
                    width: auto;
                    padding: 0;
                    display: flex;
                    z-index: 2;
                }

                .nav-is-active & {
                    transform: translateY(0);
                }
            }
        </script>
        <p>Dans la structure TimTools, la ComponentFactory s'occupe de l'instantiation des composantes.</p>
        <script type="text/plain" class="language-scss">
            # JS
            new ComponentFactory()
        </script>

        <a class="demo" href="componentfactory.html" target="_blank">Voir la componentFactory</a>

        <section id="etat">
            <h2>Classes d'états</h2>
            <p>Cette composante à quelques classes importantes modifiables à votre goût.</p>

            <h3>is-scrolling-up / is-scrolling-down</h3>
            <p>La classe is-scrolling-up apparait lorsque l'utilisateur défile vers le haut</p>
            <p>La classe is-scrolling-down apparait lorsque l'utilisateur défile vers le bas</p>

            <h3>Header-is-hidden</h3>
            <p>la classe est ajoutée au header pour cacher l'en-tête, si la classe n'est pas actif l'entête sera là.</p>
        </section>

        <section>
            <h2>Options de la composante</h2>
            <p>Certaines options peuvent être rajouter dans la composante</p>

            <section id="defaut">
                <h3>Par défaut</h3>
                <p>
                    Le header se cache après un certain temps après que l'utilisateur est commencer à défiler vers le
                    bas. Du moment qu'il défile vers le haut, le header réapparait. En version mobile, si vous cliquez
                    pour voir le menu celui-ci apparaitra vers la droite.
                </p>

                <a class="demo" href="headerbase.html" target="_blank">Voir le header par défaut</a>
            </section>

            <section id="not-hiding">
                <h3>Option not-hiding</h3>
                <p>Cette option fera que le header ne se cachera pas au scroll</p>
                <script type="text/plain" class="language-scss">
                    # HTML
                    <header class="header" data-component="Header" data-not-hiding="">
                </script>

                <a class="demo" href="headernothiding.html" target="_blank">Voir l'option not-hiding</a>
            </section>

            <section id="scroll-limit">
                <h3>Option scroll limit</h3>
                <p>
                    Cette option donnera la possibilité de changer le seuil où le header se cache. Cette option
                    nécessite de mettre un nombre à l'intérieur. Plus vous approcher du nombre 1 plus le défilement va
                    être long avant que le header se cache, si vous mettez 1 le header ne se cachera plus, si vous
                    mettez 0 celui si va disparaitre au moment qu'il y a un scroll, si vous mettez 0.5 le header se
                    cachera a la moitier de la page.
                </p>
                <script type="text/plain" class="language-scss">
                    # HTML
                    <header class="header" data-component="Header" data-scroll-limit="0.5">
                </script>

                <a class="demo" href="headerscrolllimit.html" target="_blank">Voir l'option scroll limit</a>
            </section>

            <section id="autres">
                <h2>Comment l'utiliser en dehors de TimTools</h2>
                <p>
                    À l'intérieur d'un fichier JavaScript, importez la classe `Header` que vous aurez préalablement
                    intégré à votre projet.
                </p>
                <script type="text/plain" class="language-scss">
                    import Header from './Header';
                    new Header(element);
                </script>
                <p>Dans l'exemple ci-dessus, element est égal au HTMLElement qui l'attribut data-component="Header"</p>
            </section>
        </section>
    </div>
</section>

<!--  

    <li>Comment l'utiliser en dehors de TimTools</li>
    <li>Toute autre information que vous jugez pertinente</li>
</ol>-->
{% include '_partials/_footer.html' %}
