{% include '_partials/_header.html' %}

<section>
    <div class="wrapper">
        <h1>TimTools</h1>
        <p>
            Pour chacune des composantes, nous vous présentons une liste des éléments à couvrir afin de faciliter leur
            utilisation par autrui, dans le contexte de la trousse à outils TimTools.
        </p>
        <p>
            Vous trouverez ensuite dans la page d'exemple, les différentes façons de présenter des exemples de code
            (HTML, SCSS, autre).
        </p>

        <ul class="menu_index">
            <li>Jordan Dallaire</li>
            <strong><li>Ma page Github</li></strong>
            <li><a href="https://github.com/Dabawsl24l">https://github.com/Dabawsl24l</a></li>
        </ul>
    </div>
</section>

{% include '_partials/_footer.html' %}
