{% include '_partials/_header.html' %}

<nav>
    <ul class="sous_header">
        <li>
            <a href="index.html" class="back">Retour</a>
        </li>
        <li><a href="#left">fromLeft</a></li>
        <li><a href="#right">fromRight</a></li>
        <li><a href="#bottom">fromBottom</a></li>
        <li><a href="#top">fromtop</a></li>
        <li><a href="#scale">scale</a></li>
        <li><a href="#rotation">rotation</a></li>
        <li><a href="#repeat">noRepeat</a></li>
    </ul>
</nav>

<section id="left">
    <div class="wrapper">
        <h2>fromLeft</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu a dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromLeft">photo</div>
                <div data-scrolly="fromLeft">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="right">
    <div class="wrapper">
        <h2>fromRight</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromRight">photo</div>
                <div data-scrolly="fromRight">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bottom">
    <div class="wrapper">
        <h2>fromBottom</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromBottom">photo</div>
                <div data-scrolly="fromBottom">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="top">
    <div class="wrapper">
        <h2>fromTop</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="fromTop">photo</div>
                <div data-scrolly="fromTop">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scale">
    <div class="wrapper">
        <h2>Scale</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale">photo</div>
                <div data-scrolly="Scale">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="rotation">
    <div class="wrapper">
        <h2>Rotation</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Rotation">photo</div>
                <div data-scrolly="Rotation">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="repeat">
    <div class="wrapper">
        <h2>Paramètre noRepeat</h2>
        <div class="articles">
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Vous n'en croirez pas vos yeux</h3>
                    <p>Cet article parle du moment où Matthieu p dit la chose suivante à un étudiant ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Découvrez pourquoi CW4 est le meilleur cours de tous les temps</h3>
                    <p>Voyez ce qu'ils disent et pourquoi ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
            <div class="article">
                <div class="card" data-scrolly="Scale" data-no-repeat="">photo</div>
                <div data-scrolly="Scale" data-no-repeat="">
                    <h3>Cette technique est la dernière dont vous aurez besoin</h3>
                    <p>Parce que si on en croit tous les experts qui sont unanimes ...</p>
                    <p>En savoir plus</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
